<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @contract.project %>
</p>

<p>
  <strong>Ctitle:</strong>
  <%= @contract.ctitle %>
</p>

<p>
  <strong>Cbegin:</strong>
  <%= @contract.cbegin %>
</p>

<p>
  <strong>Cend:</strong>
  <%= @contract.cend %>
</p>

<p>
  <strong>Cproduct:</strong>
  <%= @contract.cproduct %>
</p>

<p>
  <strong>Cservice:</strong>
  <%= @contract.cservice %>
</p>

<p>
  <strong>Cimplement:</strong>
  <%= @contract.cimplement %>
</p>

<p>
  <strong>Cprogram:</strong>
  <%= @contract.cprogram %>
</p>

<p>
  <strong>Cthird:</strong>
  <%= @contract.cthird %>
</p>

<p>
  <strong>Ckingdee:</strong>
  <%= @contract.ckingdee %>
</p>

<p>
  <strong>Cmemo:</strong>
  <%= @contract.cmemo %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
